@media(min-width:670px){
  header{
    height:65px;
    width:100%;
  }

  h2{
    font-size:28px;
  }
  
  button{
    display:none;
  }

  ul{
    display:block;
    padding-left:400px;
    padding-right:22px;
    position:fixed;
    top:0;
    left:0;
    z-index:998;
  }

  li{
    display:inline-block;
    width:100px;
  }

  .front-work_units{
    padding-bottom:80px;
    margin:0 15px;
  }

  .front-work_units img{
    float:left;
    width:50%;
    margin:0 auto;
    padding:10px;
  }

  .picture{
    margin:0 auto;
    padding-top:30px;
    padding-left:80px;
  }

  .name{
    padding-top:30px;
  }

  .sns{
    font-size:26px;
  }

  .p-body{
    padding:2% 5%;
  }

  .contact-form{
    margin-top:80px;
  }

}

@media(min-width:1000px){
header{
  box-sizing:border-box;
  width:1440px;
  height:0;
  position:relative;
  
}

header h1{
  position:absolute;
  display:block;
  top:80px;
  left:50px;
  font-size:80px;
}
button{
  display:none;
}

nav{
  display:block;
}

li{
  display:block;
}

  .cherry img{
    height:730px;
    margin:0 auto;
    width:1440px;
  }

  h2{
    font-size:26px;
    text-align:center;
  }

  nav{
    display:none;
  }

  .front-profile h2{
    text-align:center;
  }

  .name{
    font-size:21px;
    padding-left:60px;
  }

  .sns{
    font-size:30px;
  }

  .picture{
    padding-left:200px;
  }

  .p-body{
    margin:10px 100px;
  }

  .front-work{
    margin-top:100px;
  }

  .front-work_units{
    text-align:center;
    margin:0 auto;
    padding-left:125px;
  }

  .front-work_units img{
    width:30%;
    padding:10px 15px;
    margin:0 auto;
  }

  .front-concept{
    margin-top:120px;
    margin-bottom:150px;
  }

  .front-concept P{
    padding-top:15px;
    
  }

  .front-concept_texts br{
    display:none;
  }

  .front-profile h2{
    margin-bottom:60px;
  }

  .front-work{
    margin-top:200px;
  }

  .contact-form{
    margin-top:180px;
  }
  textarea{
    margin:0 auto;
    
  }

  .front-contact-form img{
    width:400px;
    height:220px;
  }

  
  
  .a-btn{
    text-align:center;
    margin:0 auto;
    margin-top:30px; 
  }
      



