@media(min-width:670px){
  header{
    height:80px;
  }
  h2{
    font-size:28px;
  }
  
  .st-header_logo{
    float:left;
  }
  
  nav{
    display:none;
  }

  #nav-content li{
    float:right;
    padding:0 30px;
  }

  .front-work_units{
    padding-bottom:80px;
    margin:0 15px;
  }

  .front-work_units img{
    float:left;
    width:50%;
    margin:0 auto;
    padding:10px;
  }

  .front-concept h1{
    text-align:center;
  }

  .picture{
    margin:0 auto;
    padding-top:30px;
    padding-left:80px;
  }

  .name{
    padding-top:30px;
  }

  .sns{
    font-size:26px;
  }

  .p-body{
    padding:2% 5%;
  }

  .contact-form{
    margin-top:80px;
  }

}

@media(min-width:1000px){
header{
  box-sizing:border-box;
}

  .cherry img{
     height:700px;
    width:1440px;
  }

  h2{
    font-size:26px;
    text-align:center;
  }

  nav{
    display:none;
  }

  .st-header_logo{
    font-size:30px;
    float:left;
  }

  #nav-content li{
    float:right;
    font-size:16px;
    
  }

  .cherry{
    width:1600px;
    height:700px;
  }

  .front-profile h2{
    text-align:center;
  }

  .name{
    font-size:21px;
    padding-left:60px;
  }

  .sns{
    font-size:30px;
  }

  .picture{
    padding-left:200px;
  }

  .p-body{
    margin:10px 100px;
  }

  .front-work{
    margin-top:100px;
  }

  .front-work_units{
    text-align:center;
    margin:0 auto;
    padding-left:125px;
  }

  .front-work_units img{
    width:30%;
    padding:10px 15px;
    margin:0 auto;
  }

  .front-concept{
    margin-top:120px;
    margin-bottom:150px;
  }

  .front-concept P{
    padding-top:15px;
    
  }

  .front-concept_texts br{
    display:none;
  }

  .front-profile h2{
    margin-bottom:60px;
  }

  .front-work{
    margin-top:200px;
  }

  .contact-form{
    margin-top:180px;
  }
  textarea{
    margin:0 auto;
    
  }

  .front-contact-form img{
    width:400px;
    height:220px;
  }

  
  
  .a-btn{
    text-align:center;
    margin:0 auto;
    margin-top:30px; 
  }
      



