*{
  box-sizing:border-box; 
  color:#555; 
  font-family: 'Noto Sans Japanese';
}

header{
  position:fixed;
  background: #fff0f5;
  width:100%;
  top: 0  ;
  left: 0;
  z-index: 997;
}

header h1{
  /*opacity:0.9;*/
  position: fixed;
  top: 0;
  left: 0;
  color:#1A1A1A;
  width:40%;
  display: inline-block;
  font-size:23px;
  padding:18px 23px;
  margin:0;
  z-index: 998;
}

button{
  border:none; 
  background: #fff0f5;
  float:right;
  font-size:22px;
  cursor:pointer;
  float:right;
  padding:18px 30px;  
}

button:focus{
outline:0;
}

nav {
  margin-top: 62px;
}

a{
text-decoration:none;
}

ul {
  margin-block-end: 0;
  margin-block-start: 0;
  background-color: #fff0f5;
  display:none;
  position:fixed;
  /* top:61px; */
  width:100%;
  z-index: 998;
}

li{
  margin:0 auto;
  list-style:none;
  font-size:14px;
  /*opacity:0.6;*/
  text-align:left;
  padding:7px 0;
  display:block;
  border-bottom:1px solid #fac8e8;
}

li:last-child{
  border:none;
}
.clear{
  clear:both;
}

h2{
 /* opacity:0.9;*/
  color:#1A1A1A;
  text-align:center;
  font-size:25px;
}

.front-profile h2{
  padding-top:60px;
}

.cherry img{
  opacity:0.85;
  max-width:100%;
  z-index: 996;
}

.front-profile{
  height: 500px;
  width:670px;
  margin-top:50px;
}

section h1{
  font-size:22px;
  text-align:center;
}


.picture{
  float:left;
  padding-left:5%;
  
}
.name{
  float:left;
  padding-left:43px;
}

.name h2{
  padding-bottom:5px;
}
.name h3{
  margin-bottom:5px;
}


.name li{
  font-size:13px;
  
}

.name p{
  font-size:15px;
}

.name p1{
  font-size:12px;
}

.sns{
  padding-top:12px;
  
}

.p-body p{
  font-size:16px;
  /*opacity:0.9;*/
  margin:0 auto;
}



.p-body{
  font-size:13px;
  margin:5%;
}

.front-work{
  padding-top:80px;
}



.front-work_units{
  text-align:center;
  padding-bottom:50px;
  margin:0 auto;
}

.web-site{
  padding-bottom:13px;
}



.contact-form{
  text-align:center;
  padding-top:10px;
  
}

.clear{
  clear:both;
}

input,textarea{
  width:320px;
  margin:10px 0 30px 0;
  padding:20px;
  
}

.a-btn{
  border:1px solid rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);;
  width:3px;
  border-radius:1.8rem;
  width:13rem;
  height:3rem;
  opacity:0.5;
}

input,textarea:focus{
  outline:0;
}

.a-btn:focus{
  outline:0;
}
footer{
  height:600px;
  background-color:#fff0f5;
  margin:0 auto;
}